@media(max-width:640px) {
  .childtext {
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #ffffff;
    box-sizing: border-box;
    background-color: #25252581;
    opacity: 0.2px;
    /* padding-left: 41px; */
    font-family: "OpenSans-Bold";
    padding: 19px 29px 0px 30px;
    top: 91px;
  }
 
}
@media(max-width:700px){
  .container {
    max-width: 680px;
}
}
 @media(max-width:780px){
  footer .footer-menu{
    display: none;
  }
  
  .child .childimg {
    width: 100%;
    max-width: 283px;
    height: 84px;
    object-fit: cover;
  }
  .container{
    max-width: 690px;
  }
  .india h3 {
    height: 18px;
    max-width: 100%;
    font-family: "OpenSans-bold";
    font-size: 8px;
    font-weight: 600;
    overflow: hidden;
  }

  .india p {
    font-size: 5px;
    color: #ffffff;
    font-family: "OpenSans-regular";
    overflow: hidden;
    height: 0px;
    bottom: 20px;
  }
 }
@media (max-width:1660px) {

  header .navbar,
  .nav,
  .nav-a {
    color: #4a821b;
    font-size: 17px;
    text-decoration: none;
    padding: 0px;
    font-family: "Bahnschrift";
  }

  .form {
    width: 210px;
    height: 40px;
    max-width: 100%;
  }

  .form .form-control {
    height: 100%;
  }

  .form .btn {
    height: 100%;
  }
  .header-grey-div {
    background-color: #F5F5F5;
    height: 94px;
    width: 40.54%;
    position: absolute;
    right: 0;
    top: 0;
}
}

@media (max-width:1400px) {
  
  header .navbar,
  .nav,
  .nav-a {
    color: #4a821b;
    font-size: 18px;
    text-decoration: none;
    padding: 0px;
    font-family: "Bahnschrift";
  }
  .container{
    max-width: 1250px;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 100%;
  }
  .navdrop{
    margin-left: 40px;
  }
  .form {
    width: 188px;
    height: 35px;
    max-width: 100%;
    margin-left: 15px;
  }

  .btn {
    background-color: #a24d1d;
    max-width: 100%;
    width: 61px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
  }
  .navbar {
    background-color: #f5f5f5;
    height: 94px;
    border-bottom-left-radius: 25px;
    width: 100%;
    max-width: 100%;
    margin-left: 143px;
    bottom: 14px;
}
.header-grey-div {
  background-color: #F5F5F5;
  height: 94px;
  width: 40.54%;
  position: absolute;
  right: -14px;
  top: 0;
}
}

@media(max-width:1300px){
  .container{max-width: 1200px;}
}

@media(max-width:1280px){
  .navdrop {
    margin-left: 26px;
}
.header-grey-div {
  background-color: #F5F5F5;
  height: 94px;
  width: 40.54%;
  position: absolute;
  right: -34px;
  top: 0;
}
}
@media(max-width:1275px){
  .navdrop {
    margin-left: 25px;
}
.header-grey-div {
  background-color: #F5F5F5;
  height: 94px;
  width: 40.54%;
  position: absolute;
  right: -34px;
  top: 0;
}
}

@media (max-width:1200px) {
  .container {
    max-width: 1100px;
  }

  .btn {
    background-color: #a24d1d;
    max-width: 100%;
    width: 61px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form {
    width: 167px;
    height: 30px;
    max-width: 100%;
}
  .search {
    width: 14px;
    height: 15px;
    max-width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }

  .btn {
    background-color: #a24d1d;
    max-width: 100%;
    width: 61px;
    height: 26px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .navdrop {
    margin-left: 0px;
    position: relative;
    display: inline-block;
    height: 26px;
}

  .navbar {
    background-color: #f5f5f5;
    height: 94px;
    border-bottom-left-radius: 25px;
    width: 100%;
    max-width: 100%;
    margin-left: 114px;
    bottom: 14px;
  }

  header .navbar, .nav, .nav-a {
    color: #4a821b;
    font-size: 17px;
    text-decoration: none;
    padding: 0px;
    font-family: "Bahnschrift";
}

  .form-child {
    height: 100%;
  }

  .childtext {
    
      position: absolute;
      left: 0px;
      bottom: 0px;
      color: #ffffff;
      box-sizing: border-box;
      background-color: #25252581;
      opacity: 0.2px;
      height: 142px;
      padding-left: 41px;
      font-family: "OpenSans-Bold";
  }

  .childtext h2 {
    font-family: "OpenSans-bold";
    color: white;
    font-size: 18px;
    height: 65px;
    margin-top: 24px;
    padding-right: 40px;
  }

  .popularnews {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 140.28px;
    height: 30.96px;
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .line {
    width: 24px;
    height: 3px;
    background-color: #4a821b;
    margin-top: 1px;
  }

  .popular {
    margin: 20px;
    color: #6a6a6a;
    font-size: 11px;
    padding-left: 10px;
    font-family: "OpenSans-Bold";
    font-weight: 600;
  }

  .content .right {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

  }

  .date {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    right: 0;
    color: #9b9b9b;
    padding-right: 9px;
    padding-left: 12px;
    width: 77px;
    height: 23px;
    font-family: "OpenSans-Bold";
    font-size: 10px;
    padding-top: 5px;
  }

  .child img {
    width: 100%;
    max-width: 283px;
    height: 150px;
    object-fit: cover;
  }

  .block-separator:after {
    content: " ";
    display: block;
    background: #4a821b;
    width: 50%;
    position: absolute;
    bottom: -7px;
    left: -9px;
    right: 0px;
    height: 17px;
    opacity: 0.8;
  }

  .perents-all h1 {
    font-size: 16px;
    color: #6a6a6a;
    font-family: "OpenSans-bold";
    padding-left: 10px;
    padding-top: 20px;
  }

  .icon-leftarrow::before {
    color: #4a821b;
    background-color: #eeeeee;
    width: 33px;
    height: 33px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 6px;
    margin-top: 0px;
    transform: rotate(-180deg);
    margin-left: 11px;
  }

  .icon-rightarrow::before {
    color: #4a821b;
    background-color: #eeeeee;
    width: 33px;
    height: 33px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: rotate(360deg);
    margin-right: 11px;
  }

  .icon-rightarrow:before {
    content: "\e900";
    color: #c8c8c8;
  }

  .loads p {
    position: relative;
    font-size: 13px;
    color: #4a821b;
    font-family: "OpenSans-bold";
    margin-bottom: 0;
    margin-left: 10px;
  }

  .grid-text h3 {
    color: #414141;
    font-size: 15px;
    height: 30px;
    max-width: 100%;
    font-weight: 600;
    font-family: "OpenSans-Bold";
  }

  .event {
    position: absolute;
    color: #6a6a6a;
    top: 0;
    text-align: center;
    background-color: #ffffff;
    width: 101.9px;
    height: 22.5px;
    font-size: 14px;
    font-family: "OpenSans-regular";
    font-weight: 800;
  }

  .events {
    position: absolute;
    color: #6a6a6a;
    top: 0;
    text-align: center;
    background-color: #ffffff;
    width: 114px;
    height: 30px;
    font-size: 13px;
    font-family: "OpenSans-regular";
    font-weight: 800;
    padding-top: 8px;
    padding-left: 10px;
  }

  .analytic {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 0px;
  }

  .col-6 {
    flex: 0 0 auto;
    width: 40%;
  }

  .footer-menu a {
    color: #686868;
    font-size: 13px;
    text-decoration: none;
    width: 49%;
    display: inline-block;
    padding: 5px 0px;
    transition-duration: 0.3s;
  }

  .footer-contact a {
    color: #686868;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    width: 100%;
    transition-duration: 0.3s;
  }
  .header-grey-div {
    background-color: #F5F5F5;
    height: 94px;
    width: 40.54%;
    position: absolute;
    right: -424px;
    top: 0;
}
}

@media(max-width:1100px){
  .header-grey-div {
    background-color: #F5F5F5;
    height: 94px;
    width: 53.54%;
    position: absolute;
    right: -424px;
    top: 0;
}
}

@media(max-width:1090px) {

  header .navbar,
  .nav,
  .nav-a {
    color: #4a821b;
    font-size: 16px;
    text-decoration: none;
    padding: 0;
    font-family: "Bahnschrift";
  }

  .form {
    
      width: 164px;
      height: 32px;
      max-width: 100%;
      margin-left: 35px;
  
  }

  .nav {
    align-items: center;
    max-width: 100%;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .grid-text h3 {
    color: rgb(65, 65, 65);
    font-size: 14px;
    height: 30px;
    max-width: 100%;
    font-weight: 600;
    font-family: "OpenSans-Bold";
  }

  .childtext {
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #ffffff;
    box-sizing: border-box;
    background-color: #25252581;
    opacity: 0.2px;
    /* padding-left: 41px; */
    font-family: "OpenSans-Bold";
    padding: 6px 36px 0px 30px;
    top: 66%;
    height: 104px;
  }

  .usa h2 {
    height: 41px;
    color: #585858;
    font-size: 14px;
    font-family: "OpenSans-Bold";
    overflow: hidden;
    height: 30px;
  }

  .text-seconds h4 {
    color: #585858;
    font-size: 12px;
    font-weight: 600;
    height: 39px;
    font-family: "OpenSans-Bold";
  }

  .text-second h4 {
    color: #585858;
    font-size: 12px;
    font-weight: 600;
    height: 39px;
    font-family: "OpenSans-Bold";
    margin-top: 9px;
  }
  .child img {
    width: 100%;
    max-width: 283px;
    height: 150px;
    object-fit: cover;
}
}

@media (max-width:990px) {
  .header-grey-div {
    background-color: #F5F5F5;
    height: 94px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
  .child .childimg {
    width: 100%;
    max-width: 283px;
    height: 165px;
    object-fit: cover;
  }

  .search {
    width: 12px;
    height: 12px;
    max-width: 100%;
    align-items: center;
    margin-bottom: 0px;
  }

  .usa h2 {
    height: 41px;
    color: #585858;
    font-size: 12px;
    font-family: "OpenSans-Bold";
    overflow: hidden;
    height: 30px;
  }

  .form {
    width: 208px;
    height: 40px;
    max-width: 100%;
  }
  #menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  .childtext{position: absolute;
    left: 0px;
    bottom: 0px;
    color: #ffffff;
    box-sizing: border-box;
    background-color: #25252581;
    opacity: 0.2px;
    /* padding-left: 41px; */
    font-family: "OpenSans-Bold";
    padding: 6px 36px 0px 30px;
    top: 69%;
    height: 104px;
  }
  .bar{
    height: 5px;
    width: 100%;
    background-color:#4a821b;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  #bar1{
    transform: translateY(-4px);
  }
  #bar3{
    transform: translateY(4px);
  }
  .nav li a{
    color:#4a821b;
    text-decoration: none;
  }
  .nav li a:hover{
    font-weight: bold;
  }
  .nav li{
    list-style: none;
    padding: 16px 0;
    transform: translate(-360%,10%);
  }
  .nav{
    padding: 0;
    margin: 0 ;
    transition: 0.3s ease;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
  }
  .menu-bg, #menu-bar{
    top: 0;
    left: 90%;
    position: absolute;
  }
  .menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(#F5F5F5);
    transition: 0.3s ease;
  }
  #menu-bar{
    z-index: 2;	
  }
  .change-bg{
    width: 550px;
    height: 540px;
    transform: translate(-95%,10%);
  }
  .change .bar{
    background-color: white;
  }
  .change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3{
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2{
    opacity: 0;
  }
  .change{
    display: block;
  }
 
}

@media(max-width:903px) {
  .burgermenuicon {
    display: block;
    position: absolute;
    right: 15px;
  }

  .burgermenunav .navigatiottt form input {
    width: 100%;
    height: 50px;
    position: absolute;
    padding-left: 60px;
    border: none;
    border-radius: 8px;
    padding-right: 20px;
  }
}

@media(max-width:776px) {
  .navbar {
    background-color: #f5f5f5;
    height: 94px;
    border-bottom-left-radius: 25px;
    width: 100%;
    max-width: 100%;
    margin-left: 30px;
    bottom: 14px;
  }

  .nav {
    align-items: center;
    max-width: 100%;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  header .navbar,
  .nav,
  .nav-a {
    color: #4a821b;
    font-size: 15px;
    text-decoration: none;
    font-family: "Bahnschrift";
  }

  .form {
    width: 135px;
    height: 35px;
    max-width: 100%;
  }
}

@media (max-width:993px) {
  .col-11 a {
    display: block;
    margin-bottom: 20px;
    color: #9B9B9B;
    font-size: 13px;
    font-family: "OpenSans-Regular";
    text-decoration: none;
    display: flex;
  }

  @media (max-width:768px) {
    .col-11 a {
      display: block;
      margin-bottom: 20px;
      color: #9B9B9B;
      font-size: 8px;
      font-family: "OpenSans-Regular";
      text-decoration: none;
      display: flex;
    }

    .child .childimg {
      width: 100%;
      max-width: 283px;
      height: 130px;
      object-fit: cover;
    }

    .childtext {
      position: absolute;
      left: 0px;
      bottom: 0px;
      color: #ffffff;
      box-sizing: border-box;
      background-color: #25252581;
      opacity: 0.2px;
      /* padding-left: 41px; */
      font-family: "OpenSans-Bold";
      padding: 19px 29px 0px 30px;
      top: 147px;
    }

    .footer-menu {
      display: none;
    }

    .footer-contact {
      display: none;
    }
    
  }

  @media (max-width:1660px) {
    footer .col-6 {
      width: 40%;
    }

    footer .footer-menu {
      width: 100%;
      padding-right: 60px;
      height: 187px;
    }

    footer .footer-menu a {
      color: #686868;
      font-size: 13px;
      text-decoration: none;
      width: 49%;
      display: inline-block;
      padding: 3px 0;
      transition-duration: 0.3s;
    }

    .footer-contact a {
      color: #686868;
      font-size: 14px;
      text-decoration: none;
      display: block;
      padding: 9px 0;
      width: 100%;
      transition-duration: 0.3s;
    }

    footer .subscribe {
      width: 85%;
    }

    .subscribe form input {
      background-color: #fff;
      border: 2px solid transparent;
      right: 0;
      width: 140px;
      height: 37px;
      border-radius: 6px;
      font-family: "OpenSans-Regular";
      font-size: 12px;
      transition-duration: 0.3s;
      overflow: hidden;
      padding: 0 100px 0 5px;
    }
  }

  @media (max-width:1200px) {
    .grid-text h3 {
      color: #414141;
      font-size: 14px;
      height: 30px;
      max-width: 100%;
      font-weight: 600;
      font-family: "OpenSans-Bold";
    }
    .header-grey-div {
      background-color: #F5F5F5;
      height: 94px;
      width: 40.54%;
      position: absolute;
      right: -14px;
      top: 0;
  }
    .grid-text p {
      color: #414141;
      font-size: 13px;
      height: 65px;
      max-width: 100%;
      padding-top: 4.1px;
      font-family: "OpenSans-Light";
      overflow: hidden;
    }
  }

  @media (max-width:993px) {
    .grid-text h3 {
      color: #414141;
      font-size: 12px;
      height: 32px;
      max-width: 100%;
      font-weight: 600;
      font-family: "OpenSans-Bold";
    }

    .grid-text p {
      color: #414141;
      font-size: 10px;
      height: 30px;
      max-width: 100%;
      padding-top: 4.1px;
      font-family: "OpenSans-Light";
      overflow: hidden;
    }

    .dates {
      position: absolute;
      color: #9b9b9b;
      width: 78px;
      height: 25px;
      max-width: 100%;
      top: 0;
      right: 0px;
      background-color: #ffffff;
      font-size: 10px;
      padding: 7px;
      margin: 0;
      font-family: "OpenSans-bold";
    }

    .perents-all h1 {
      font-size: 15px;
      color: #6a6a6a;
      font-family: "OpenSans-bold";
      padding-left: 10px;
      padding-top: 10px;
    }
  }

  @media (max-width:768px) {

    .news-section>.container::before {
      content: "";
      background-color: #f5f5f5;
      position: absolute;
      height: 53px;
      width: 1000px;
      left: -540px;
      max-width: 100%;
    }

    .linediv {
      align-items: center;
      text-align: center;
      display: flex;
      position: relative;
      width: 150px;
    }

    .icon-rightarrow::before {
      color: #4a821b;
      background-color: #eeeeee;
      width: 30px;
      height: 30px;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      transform: rotate(0deg);
      margin-right: 11px;
    }

    .icon-leftarrow::before {
      color: #4a821b;
      background-color: #eeeeee;
      width: 30px;
      height: 30px;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-left: 6px;
      margin-top: 0px;
      transform: rotate(180deg);
      margin-left: 11px;
    }

    .loads {
      padding-top: 5px;
    }

    .loads span {
      color: #4a821b;
      font-size: 12px;
      font-family: "OpenSans-bold";
      padding-top: 10px;
    }

    .grid-line {
      width: 2px;
      height: 53.09px;
      background-color: #929292;
      position: absolute;
      margin-top: 26px;
      opacity: 20%;
    }

    .grid-text h3 {
      color: #414141;
      font-size: 8px;
      height: 25px;
      max-width: 100%;
      font-weight: 600;
      font-family: "OpenSans-Bold";
    }

    .grid-text p {
      color: #414141;
      font-size: 10px;
      height: 30px;
      max-width: 100%;
      padding-top: 4.1px;
      font-family: "OpenSans-Light";
      overflow: hidden;
    }
  }

  @media (max-width:1200px) {
    .projects {
      width: 105px;
      height: 21px;
      background-color: #ffff;
      position: absolute;
      display: flex;
      top: 0;
    }

    .projects h1 {
      color: #6a6a6a;
      font-size: 13px;
      padding-left: 10px;
    }

    .first-text h1 {
      margin-top: 0;
      font-size: 13px;
      color: #414141;
      font-family: "OpenSans-bold";
      height: 40px;
      padding-left: 8px;
    }

    .first-text span {
      color: #4a821b;
      font-size: 13px;
      font-family: "Bahnschrift";
      margin-bottom: 0px;
    }

    .first-text p {
      font-size: 14px;
      color: #414141;
      height: 45.56px;
      overflow: hidden;
      font-family: "OpenSans-regular";
      font-weight: 500;
      margin-top: 7px;
    }

    .about p {
      color: #6A6A6A;
      font-size: 16px;
      font-family: "OpenSans-Bold";
      padding-left: 10px;
    }

    .workshop {
      position: absolute;
      top: 0;
      width: 126px;
      height: 26px;
      background-color: #ffff;
      display: flex;
      padding-top: 10px;
    }

    .line {
      width: 24px;
      height: 3px;
      background-color: #4a821b;
      margin-top: 5px;
    }

    .workshop h1 {
      font-size: 12px;
      color: #6a6a6a;
      font-family: "OpenSans-bold";
      font-weight: 600;
    }
  }

  @media (max-width:993px) {
    .first-text h1 {
      margin-top: 0;
      font-size: 10px;
      color: #414141;
      font-family: "OpenSans-bold";
      height: 30px;
      padding-left: 6px;
    }

    .first-text span {
      color: #4a821b;
      font-size: 10px;
      font-family: "Bahnschrift";
      margin-bottom: 0px;
    }

    .first-text p {
      font-size: 12px;
      color: #414141;
      height: 38.56px;
      overflow: hidden;
      font-family: "OpenSans-regular";
      font-weight: 500;
      margin-top: 0px;
    }

    .see-line {
      width: 57.77px;
      height: 2px;
      background-color: #707070;
      opacity: 33%;
    }

    .first-large-text {
      padding-top: 0px;
    }

    .large-text a {
      text-decoration: none;
      color: #414141;
      font-size: 13px;
      font-family: "OpenSans-Regular";
    }
  }

  @media (max-width:1200px) {
    .perents-all h1 {
      font-size: 16px;
      color: #6a6a6a;
      font-family: "OpenSans-bold";
      padding-left: 10px;
      padding-top: 10px;
    }

    .child img {
      width: 100%;
      max-width: 283px;
      height: 320px;
      object-fit: cover;
    }
  }

  @media(max-width:993px) {

    .card-text h2 {
      font-size: 16px;
      line-height: 18px;
      color: #585858;
      font-family: "Opensans-Bold";
      margin-bottom: 14px;
      overflow: hidden;
      height: 35px;
    }

    .child img {
      width: 100%;
      max-width: 283px;
      height: 220px;
      object-fit: cover;
    }

    .card-text {
      text-align: left;
      padding: 20px 21px 19px 27px;
      box-shadow: 0px 1px 6px 3px rgb(112 112 112 / 26%);
    }
  }

  @media(max-width:868px) {
    .child img {
      width: 100%;
      max-width: 283px;
      height: 160px;
      object-fit: cover;
    }

    .col-6 {
      width: 50%;
    }

    .usa h2 {
      height: 41px;
      color: #585858;
      font-size: 10px;
      font-family: "OpenSans-Bold";
      overflow: hidden;
      height: 30px;
    }

    footer .footer-menu {
      width: 100%;
      padding-right: 30px;
      height: 190px;
    }
  }

  @media(max-width:768px) {
    .perents-all h1 {
      font-size: 9px;
      color: #6a6a6a;
      font-family: "OpenSans-bold";
      padding-left: 10px;
      padding-top: 10px;
    }

    .loadings {
      display: flex;
      max-width: 100%;
      justify-content: flex-end;
      margin-right: 7px;
    }

    .child img {
      width: 100%;
      max-width: 283px;
      height: 150px;
      object-fit: cover;
    }

    .card-text h2 {
      font-size: 14px;
      line-height: 18px;
      color: #585858;
      font-family: "Opensans-Bold";
      margin-bottom: 14px;
      overflow: hidden;
      height: 35px;
    }

    .card-text {
      text-align: left;
      padding: 10px 20px 12px 22px;
      box-shadow: 0px 1px 6px 3px rgb(112 112 112 / 26%);
    }

    .card-text h2 {
      font-size: 10px;
      line-height: 18px;
      color: #585858;
      font-family: "Opensans-Bold";
      margin-bottom: 14px;
      overflow: hidden;
      height: 35px;
    }
  }
}
@media only screen and (min-width:990px){
  .menu-bg, #menu-bar {
    top: 0;
    left: 95%;
    position: absolute;
    display: none;
}
}

@media(max-width:777px){
  .header-grey-div {
    background-color: #F5F5F5;
    height: 94px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.child .childimg {
  width: 100%;
  max-width: 283px;
  height: 143px;
  object-fit: cover;
}

  .search {
    width: 12px;
    height: 12px;
    max-width: 100%;
    align-items: center;
    margin-bottom: 0px;
  }

  .usa h2 {
    height: 41px;
    color: #585858;
    font-size: 12px;
    font-family: "OpenSans-Bold";
    overflow: hidden;
    height: 30px;
  }

  .form {
    width: 208px;
    height: 40px;
    max-width: 100%;
  }
  #menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  .childtext {
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: #ffffff;
    box-sizing: border-box;
    background-color: #25252581;
    opacity: 0.2px;
    /* padding-left: 41px; */
    font-family: "OpenSans-Bold";
    padding: 16px 34px 0px 30px;
    top: 60%;
    height: 118px;
}
.childtext h2 {
  font-family: "OpenSans-bold";
  color: white;
  font-size: 16px;
  height: 65px;
  margin-top: 24px;
  padding-right: 40px;
}
.india h3 {
  height: 28px;
  max-width: 100%;
  font-family: "OpenSans-bold";
  font-size: 13px;
  font-weight: 600;
  overflow: hidden;
}
.col-xl-3{
  margin-left: 30px;
}
.footer-menu{
  display: none;
}
.footer-contact{
  display: none;
}
.india p {
  font-size: 12px;
  color: #ffffff;
  font-family: "OpenSans-regular";
  overflow: hidden;
  height: 0px;
  bottom: 20px;
}
.usa h2 {
  height: 41px;
  color: #585858;
  font-size: 10px;
  font-family: "OpenSans-Bold";
  overflow: hidden;
  height: 26px;
}
.text-seconds h4 {
  color: #585858;
  font-size: 10px;
  font-weight: 600;
  height: 38px;
  font-family: "OpenSans-Bold";
  overflow: hidden;
}
.text-second span {
  color: #4a821b;
  height: 10px;
  font-size: 10px;
  font-family: "Bahnschrift";
  font-weight: 600;
}
.text-second p {
  height: 41px;
  font-size: 12px;
  color: #585858;
  overflow: hidden;
  font-family: "OpenSans-Light";
  overflow: hidden;
}
.text-second h4 {
  color: #585858;
  font-size: 10px;
  font-weight: 600;
  height: 39px;
  font-family: "OpenSans-Bold";
  margin-top: 9px;
  overflow: hidden;
}
.see-alls {
  font-size: 12px;
  font-weight: 800;
  height: 25px;
  padding-top: 5px;
  font-family: "OpenSans-Regular";
  padding-left: 0px;
  color: #4a821b;
  margin-top: 12.7px;
}
.allline {
  width: 48.69px;
  background-color: #707070;
  opacity: 33%;
  height: 2px;
}
.text-seconds p {
  height: 38px;
  font-size: 12px;
  color: #585858;
  overflow: hidden;
  font-family: "OpenSans-Light";
  overflow: hidden;
}
.text-seconds span {
  color: #4a821b;
  height: 10px;
  font-size: 12px;
  font-family: "Bahnschrift";
}
.event {
  position: absolute;
  color: #6a6a6a;
  top: 0;
  text-align: center;
  background-color: #ffffff;
  width: 50.9px;
  height: 15.5px;
  font-size: 11px;
  font-family: "OpenSans-regular";
  font-weight: 800;
}
.events {
  position: absolute;
  color: #6a6a6a;
  top: 0;
  text-align: center;
  background-color: #ffffff;
  width: 67px;
  height: 20px;
  font-size: 9px;
  font-family: "OpenSans-regular";
  font-weight: 800;
  padding-top: 4px;
  padding-left: 10px;
}
.boll {
  width: 20px;
  height: 20px;
  border-radius: 90px;
  background-color: #dfdfdf;
  position: absolute;
  z-index: 9;
  margin-top: 18px;
}
.usa span {
  color: #888888;
  font-size: 12px;
  font-family: "OpenSans-Bold";
}
  .bar{
    height: 5px;
    width: 100%;
    background-color:#4a821b;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  #bar1{
    transform: translateY(-4px);
  }
  #bar3{
    transform: translateY(4px);
  }
  .nav li a{
    color:#4a821b;
    text-decoration: none;
  }
  .nav li a:hover{
    font-weight: bold;
  }
  .nav li{
    list-style: none;
    padding: 16px 0;
    transform: translate(-360%,10%);
  }
  .nav{
    padding: 0;
    margin: 0 ;
    transition: 0.3s ease;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
  }
  .menu-bg, #menu-bar{
    top: 0;
    left: 90%;
    position: absolute;
  }
  .menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(#F5F5F5);
    transition: 0.3s ease;
  }
  #menu-bar{
    z-index: 2;	
  }
  .change-bg{
    width: 550px;
    height: 540px;
    transform: translate(-95%,10%);
  }
  .change .bar{
    background-color: white;
  }
  .change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3{
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2{
    opacity: 0;
  }
  .change{
    display: block;
  }
}
@media(max-width:375px){
  .india p {
    font-size: 12px;
    color: #ffffff;
    font-family: "OpenSans-regular";
    overflow: hidden;
    height: 0px;
    bottom: 0px;
    display: none;
}
.india h3 {
  height: 15px;
  max-width: 100%;
  font-family: "OpenSans-bold";
  font-size: 11px;
  font-weight: 600;
  overflow: hidden;
}
.india {
  position: absolute;
  color: #ffffff;
  font-family: "OpenSans-Regular";
  bottom: 0;
  background: -webkit-linear-gradient(
90deg
, #020024 0%, #242424 0%, #00d4ff00 76%);
  padding-left: 9px;
  padding-bottom: 0px;
  font-family: "OpenSans-Bold";
}
.text-seconds{
  display: none;
}
.usa h2 {
  height: 41px;
  color: #585858;
  font-size: 5px;
  font-family: "OpenSans-Bold";
  overflow: hidden;
  height: 18px;
}
footer .subscribe {
  width: 100%;
  margin-right: 35px;
}
.footer-social {
  width: 100%;
  text-align:center;
}
.stay {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 70px;
}
.ideadisgn {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 8px;
}
.rocket2 {
  background-color: #18b697;
  height: 100px;
  width: 100%;
  margin-top: 40px;
}
.col-xl-3{
  margin: 0;
}
.boll {
  width: 15px;
  height: 15px;
  border-radius: 90px;
  background-color: #dfdfdf;
  position: absolute;
  z-index: 9;
  margin-top: 21px;
}
.usa span {
  color: #888888;
  font-size: 8px;
  font-family: "OpenSans-Bold";
}
.linesm {
  width: 21.98px;
  height: 3px;
  background-color: #4a821b;
  margin-top: 7px;
}
.mainline h2 {
  color: #6a6a6a;
  font-size: 10px;
  font-family: "OpenSans-bold";
  padding-left: 10px;
}
.rocket1 {
  background-color: #18b697;
  height: 50px;
  width: 100%;
  margin-top: 83px;
}
.col-6{
  width: 100%;
}
.events {
  position: absolute;
  color: #6a6a6a;
  top: 0;
  text-align: center;
  background-color: #ffffff;
  width: 35px;
  height: 11px;
  font-size: 5px;
  font-family: "OpenSans-regular";
  font-weight: 800;
  padding-top: 2px;
  padding-left: 3px;
}
.date {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  color: #9b9b9b;
  padding-right: 9px;
  padding-left: 12px;
  width: 47px;
  height: 15px;
  font-family: "OpenSans-Bold";
  font-size: 6px;
  padding-top: 3px;
}
.childtext h2 {
  font-family: "OpenSans-bold";
  color: white;
  font-size: 12px;
  height: 10px;
  margin-top: 0px;
  padding-right: 0px;
  /* margin-bottom: 14px; */
}
.childtext p {
  font-size: 16px;
  margin-bottom: 18px;
  padding-right: 40px;
  font-family: "OpenSans-regular";
  display: none;
}
.popularnews {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 99.28px;
  height: 24.96px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
 .popularnews .line {
  width: 24px;
  height: 3px;
  background-color: #4a821b;
  margin-top: 5px;
  top:22%;
}
.child .childimg {
  width: 100%;
  max-width: 283px;
  height: 75px;
  object-fit: cover;
}
.popular {
  margin: 0px;
  color: #6a6a6a;
  font-size: 9px;
  padding-left: 25px;
  font-family: "OpenSans-Bold";
  font-weight: 600;
}
.childtext {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #25252581;
  opacity: 0.2px;
  /* padding-left: 41px; */
  font-family: "OpenSans-Bold";
  padding: 15px 0px 0px 17px;
  top: 65%;
  height: 55px;
  overflow: hidden;
}
.loads {
  padding-top: 17px;
}
.loads p {
  position: relative;
  font-size: 10px;
  color: #4a821b;
  font-family: "OpenSans-bold";
  margin-bottom: 0;
  margin-left: 9px;
}
.icon-rightarrow::before {
  color: #4a821b;
  background-color: #eeeeee;
  width: 20px;
  height: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: rotate(
0deg
);
  margin-right: 12px;
  margin-top: 15px;
  margin-left: 10px;
}
.icon-leftarrow::before {
  color: #4a821b;
  background-color: #eeeeee;
  width: 20px;
  height: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 6px;
  margin-top: 0px;
  transform: rotate(
180deg
);
  margin-left: -10px;
  margin-top: 15px;
}
.dates {
  position: absolute;
  color: #9b9b9b;
  width: 36px;
  height: 11px;
  max-width: 100%;
  top: 0;
  right: 0px;
  background-color: #ffffff;
  font-size: 6px;
  padding: 0px;
  margin: 0;
  font-family: "OpenSans-bold";
}
.grid-text p {
  color: #414141;
  font-size: 10px;
  height: 33px;
  max-width: 100%;
  padding-top: 4.1px;
  font-family: "OpenSans-Light";
  overflow: hidden;
}
.grid-text h3 {
  color: #414141;
  font-size: 6px;
  height: 10px;
  max-width: 100%;
  font-weight: 600;
  font-family: "OpenSans-Bold";
}
.event {
  position: absolute;
  color: #6a6a6a;
  top: 0;
  text-align: center;
  background-color: #ffffff;
  width: 31.9px;
  height: 11.5px;
  font-size: 8px;
  font-family: "OpenSans-regular";
  font-weight: 800;
}
.text-second {
  margin-top: 0px;
  max-width: 100%;
  margin-left: 2px;
}
.see-alls {
  font-size: 8px;
  font-weight: 800;
  height: 12px;
  padding-top: 0px;
  font-family: "OpenSans-Regular";
  padding-left: 0px;
  color: #4a821b;
  margin-top: 12.7px;
}
.text-seconds span {
  color: #4a821b;
  height: 0px;
  font-size: 8px;
  font-family: "Bahnschrift";
}
.text-seconds h4 {
  color: #585858;
  font-size: 5px;
  font-weight: 600;
  height: 13px;
  font-family: "OpenSans-Bold";
  overflow: hidden;
}
.allline {
  width: 34.69px;
  background-color: #707070;
  opacity: 33%;
  height: 2px;
}
.text-second p {
  height: 28px;
  font-size: 10px;
  color: #585858;
  overflow: hidden;
  font-family: "OpenSans-Light";
  overflow: hidden;
}
.text-second span {
  color: #4a821b;
  height: 0px;
  font-size: 7px;
  font-family: "Bahnschrift";
  font-weight: 600;
}
.text-second h4 {
  color: #585858;
  font-size: 7px;
  font-weight: 600;
  height: 15px;
  font-family: "OpenSans-Bold";
  margin-top: 5px;
  overflow: hidden;
}
.line {
  width: 24px;
  height: 3px;
  background-color: #4a821b;
  margin-top: 5px;
  display: none;
}
.rocket {
  background-color: #18b697;
  width: 100%;
  height: 50px;
}
.twin-banners {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 13px;
  margin-top: 8px;
  padding: 0;
}
.grid-line {
  width: 2px;
  height: 36.09px;
  background-color: #929292;
  position: absolute;
  margin-top: 15px;
  opacity: 20%;
}
.perents-all h1 {
  font-size: 7px;
  color: #6a6a6a;
  font-family: "OpenSans-bold";
  padding-left: 6px;
  padding-top: 17px;
}
.menu-bg, #menu-bar {
  top: 0;
  left: 84%;
  position: absolute;
}
}
@media(max-width:414px){
  .menu-bg, #menu-bar {
    top: 0;
    left: 80%;
    position: absolute;

}
.childtext {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #25252581;
  opacity: 0.2px;
  /* padding-left: 41px; */
  font-family: "OpenSans-Bold";
  padding: 11px 32px 0px 22px;
  top: 62%;
  height: 69px;
}
.childtext h2 {
  font-family: "OpenSans-bold";
  color: white;
  font-size: 15px;
  height: 21px;
  margin-top: 0px;
  padding-right: 50px;
}
.childtext p {
  font-size: 16px;
  margin-bottom: 18px;
  padding-right: 40px;
  font-family: "OpenSans-regular";
  display: none;
}
.loads p {
  position: relative;
  font-size: 10px;
  color: #4a821b;
  font-family: "OpenSans-bold";
  margin-bottom: 0;
  margin-left: 10px;
}
.icon-rightarrow::before {
  color: #4a821b;
  background-color: #eeeeee;
  width: 25px;
  height: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: rotate(
0deg
);
  margin-right: 11px;
}
.icon-lefttarrow::before {
  color: #4a821b;
  background-color: #eeeeee;
  width: 25px;
  height: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: rotate(
0deg
);
  margin-right: 11px;
}
.grid-container {
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 15px;
  grid-template-columns: auto auto;
  padding: 0;
}
.rocket {
  background-color: #18b697;
  width: 100%;
  height: 60px;
}
.col-6 {
  width: 100%;
}
.text-second{
  display: none;
}
.text-seconds{
  display: none;
}
.mainline h2 {
  color: #6a6a6a;
  font-size: 14px;
  font-family: "OpenSans-bold";
  padding-left: 10px;
}
.usa h2 {
  height: 41px;
  color: #585858;
  font-size: 5px;
  font-family: "OpenSans-Bold";
  overflow: hidden;
  height: 14px;
}
.rocket2 {
  background-color: #18b697;
  height: 90px;
  width: 100%;
  margin-top: 58px;
}
.col-xl-3 {
  margin-left: 0px;
}
.child .childimg {
  width: 100%;
  max-width: 283px;
  height: 87px;
  object-fit: cover;
}
.col-11 a {
  display: block;
  margin-bottom: 20px;
  color: #9B9B9B;
  font-size: 5px;
  font-family: "OpenSans-Regular";
  text-decoration: none;
  display: flex;
}
form input {
  height: 25px;
  margin-bottom: 63px;
  display: block;
  background-color: #F5F5F5;
  border: 1px solid transparent;
  font-size: 10px;
  line-height: 51px;
  font-family: "OpenSans-Regular";
  padding: 0 0px;
  color: #9B9B9B;
  width: 100%;
}
.main-second-section .graydiv-one {
    width: 100%;
    height: 100px;
    background-color: #18b697;
    margin-top: 40.3px;
}
}