/* @media (max-width:1400px){
  header .navbar ,.nav ,.nav-a{
    color: #4a821b;
    font-size: 18px;
    text-decoration: none;
    padding: 4px;
    font-family: "Bahnschrift";

  }
}
@media (max-width:1200px){
  header .navbar{
    background-color: #f5f5f5;
    height: 94px;
    border-bottom-left-radius: 25px;
    width: 100%;
    max-width: 100%;
    margin-left: 142px;
    bottom: 14px;
  }
  header .navbar ,.nav ,.nav-a{
    color: #4a821b;
    font-size: 9px;
    text-decoration: none;
    padding: 4px;
    font-family: "Bahnschrift";

  }
}
@media (max-width:1200px){
  .form {
    position: relative;
    display: flex;
    align-items: center;
    height: 10px;
    width: 200px;
}
.popularnews {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 130.28px;
  height: 30.96px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.popular {
  margin: 20px;
  color: #6a6a6a;
  font-size: 10px;
  padding-left: 10px;
  font-family: "OpenSans-Bold";
  font-weight: 600;
}


*, *::before, *::after {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.childtext {
  position: absolute;
  left: 0px;
  bottom: -15px;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #25252581;
  opacity: 0.2px;
  padding-left: 41px;
  font-family: "OpenSans-Bold";
  height: 80px;
  overflow: hidden;
  width: 59%;
}
.right .child ,.date{
    position: absolute;
    background-color: #ffffff;
    top: 0;
    right: 0;
    color: #9b9b9b;
    padding-right: 9px;
    padding-left: 14px;
    width: 99px;
    height: 21px;
    font-family: "OpenSans-Bold";
    font-size: 9px;

}
.firstimg {
    width: 62%;
    height: 105%;
}
.first-child {
  height: 100%;
  width: 94%;
  position: relative;
  bottom: 0;
}
header .navbar, .nav, .nav-a {
  color: #4a821b;
  font-size: 15px;
  text-decoration: none;
  padding: 0px;
  font-family: "Bahnschrift";
}
.grid-text h3 {
  color: #414141;
  font-size: 13px;
  height: 30px;
  max-width: 100%;
  font-weight: 600;
  font-family: "OpenSans-Bold";
}
.grid-text p {
  color: #414141;
  font-size: 11px;
  height: 44.27px;
  max-width: 100%;
  padding-top: 4.1px;
  font-family: "OpenSans-Light";
}
.perents-all h1 {
  font-size: 13px;
  color: #6a6a6a;
  font-family: "OpenSans-bold";
  padding-left: 10px;
  padding-top: 20px;
}
.loads p {
  position: relative;
  font-size: 13px;
  color: #4a821b;
  font-family: "OpenSans-bold";
  margin-bottom: 0;
  margin-left: 10px;
}
.icon-rightarrow::before {
  color: #4a821b;
  background-color: #eeeeee;
  width: 33px;
  height: 33px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: rotate(
360deg
);
  margin-right: 11px;
}
.icon-leftarrow::before {
  color: #4a821b;
  background-color: #eeeeee;
  width: 33px;
  height: 33px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 6px;
  margin-top: 0px;
  transform: rotate(
-180deg
);
  margin-left: 11px;
}
.mainline h2 {
  color: #6a6a6a;
  font-size: 14px;
  font-family: "OpenSans-bold";
  padding-left: 10px;
}
.analytic {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0px;
}
.usa h2 {
  height: 34px;
  color: #585858;
  font-size: 14px;
  font-family: "OpenSans-Bold";
  overflow: hidden;
}
} */